<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question 1</h5>
          <p class="card-text">Write a java program to reverse a given string</p>
          <a routerLink="/solution" class="btn btn-primary">Open editor</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question 2</h5>
          <p class="card-text">Write a java program to find whether a given number is prime number or not</p>
          <a routerLink="/solution" class="btn btn-primary">Open editor</a>
        </div>
      </div>
    </div>
  </div>