<h1 class="text-center">Welcome to ABC Online Test Portal</h1>
<h2>Section Criteria:</h2>
<p>1).This exam consists of coding section with two questions in java programming language.</p>
<p>2).You need to write the code in java language and then compile and run it to see your program works efficiently or not.</p>
<h2>Instructions:</h2>
<p>This is a video proctored based Assesement.</p>
<p>The maximum duration of test is 60 minutes.</p>
<div class="container bg-light">
    <div class="col-md-12 text-center">
        <button type="button" (click)="startTest()" class="btn btn-primary">Start Test</button>
        <button type="button" class="btn btn-warning">Cancel</button>
    </div>
</div>